name: CI/CD Pipeline Pro

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/mampu-wallet:latest

  deploy-to-laptop:
    needs: build-and-push
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: create .env file
        shell: bash
        run: |
          echo "DB_PASSWORD=${{secrets.DB_PASSWORD}}" >> .env
          echo "SECRET_KEY=${{secrets.SECRET_KEY}}" >> .env
          echo "DB_USER=postgres" >> .env
          echo "DB_NAME=wallet_db" >> .env
          echo "DB_HOST=wallet_db" >> .env
          echo "DB_PORT=5432" >> .env

          echo "POSTGRES_USER=postgres" >> .env
          echo "POSTGRES_PASSWORD=${{secrets.POSTGRES_PASSWORD}}" >> .env 
          echo "POSTGRES_DB=wallet_db" >> .env

      - name: Pull and Run
        run: |
          docker compose down
          docker compose pull
          docker compose up -d
          docker image prune -f

      - name: Debug Docker
        run: |
          docker info
          docker ps -a
          docker images