name: Deploy to Local Laptop

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build & Run Docker
        run: |
          docker compose down
          docker compose build
          docker compose up -d --build
